<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922027513108-ua13ksplkqegsga32r20fm86tj99mhv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922027513108-ua13ksplkqegsga32r20fm86tj99mhv8</string>
	<key>API_KEY</key>
	<string>AIzaSyDBSUglprJMDAqhXt2xDpffuocbwovKDLE</string>
	<key>GCM_SENDER_ID</key>
	<string>922027513108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tiagogrimaldirossi.GroupLINQ</string>
	<key>PROJECT_ID</key>
	<string>grouplinq-b2a7e</string>
	<key>STORAGE_BUCKET</key>
	<string>grouplinq-b2a7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922027513108:ios:ea6f876e504c3b55a15e01</string>
</dict>
</plist>